http:
 #region routers 
  routers:
    homeassistant:
      entryPoints:
        - "https"
      rule: "Host(`homeassistant.lontiotlabs.au`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: homeassistant
    plex:
      entryPoints:
        - "https"
      rule: "Host(`plex.lontiotlabs.au`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: plex

#endregion
#region services
  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://192.168.10.12:8123"
        passHostHeader: true
    plex:
      loadBalancer:
        servers:
          - url: "http://10.0.14.4:32400"
        passHostHeader: true

#endregion
  middlewares:
    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true

    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipWhiteList:
        sourceRange:
        - "10.0.0.0/8"
        - "192.168.0.0/16"
        - "172.16.0.0/12"

    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers