http:
  routers:
    homeassistant:
      entryPoints:
        - "https"
      rule: "Host(`homeassistant.lontiotlabs.au`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: homeassistant
    plex:
      entryPoints:
        - "https"
      rule: "Host(`plex.lontiotlabs.au`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: plex

  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://192.168.10.7:8123"
        passHostHeader: true
    plex:
      loadBalancer:
        servers:
          - url: "http://10.0.14.4:32400"
        passHostHeader: true