- name: Initalise
  hosts: init
  become: true
  roles:
    - whoami
    - sudo
    - updates   #restart
    - ssh       
    - apt       #vm, docker
    - vscode        
    - git       #init
    - docker    
    - role: nfs
      vars:
        nas: 192.168.7.18
    - role: ufw       #DNS, torrent, plex, nextcloud  
      vars: 
        proxy_int: 192.168.7.10
        proxy_ext: 192.168.7.11

#ansible-playbook playbooks/init.yaml -u ubuntu -k -t docker,vm