http:
  routers:
    proxmox:
      entryPoints:
        - "https"
      rule: "Host(`proxmox.lontiotlabs.au`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: proxmox
    truenas:
      entryPoints:
        - "https"
      rule: "Host(`truenas.lontiotlabs.au`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: truenas
    omada:
      entryPoints:
        - "https"
      rule: "Host(`omada.lontiotlabs.au`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: omada
    pihole:
      entryPoints:
        - "https"
      rule: "Host(`pihole.lontiotlabs.au`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: pihole
    pihole-backup:
      entryPoints:
        - "https"
      rule: "Host(`pihole-backup.lontiotlabs.au`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: pihole-backup
    nvr:
      entryPoints:
        - "https"
      rule: "Host(`nvr.lontiotlabs.au`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: nvr
    dumbdrop:
      entryPoints:
        - "https"
      rule: "Host(`drop.lontiotlabs.au`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: dumbdrop

  services:
    proxmox:
      loadBalancer:
        servers:
          - url: "https://10.0.14.2:8006"
        passHostHeader: true
    truenas:
      loadBalancer:
        servers:
          - url: "https://10.0.14.14"
        passHostHeader: true
    omada:
      loadBalancer:
        servers:
          - url: "https://10.0.100.2"
        passHostHeader: true
    pihole:
      loadBalancer:
        servers:
          - url: "http://192.168.7.10"
        passHostHeader: true
    pihole-backup:
      loadBalancer:
        servers:
          - url: "http://192.168.7.11"
        passHostHeader: true
    nvr:
      loadBalancer:
        servers:
          - url: "https://172.16.30.2"
        passHostHeader: true
    dumbdrop:
      loadBalancer:
        servers:
          - url: "http://10.0.14.4:3002"
        passHostHeader: true